.multi-records {
    font-size: 11px;
}
.hidden-table {
    display: none;
}
.multi-wrap {
    overflow: auto;
}
.legend table td {
    padding: 0 2px;
}
.point-chart .legend tr td:first-child > div > div {
    border-radius: 8px;
    border: 4px solid rgb(68,114,196);
    width: 1.5px !important;
    height: 1.5px !important;
    background-color: rgb(68,114,196);
}
.point-chart .legend tr td:nth-child(3) > div > div {
    border: 2px solid rgb(68,114,196) !important;
    width: 16px !important;
    height: 0 !important;
    background-color: rgb(68,114,196);
}
.point-chart .legend tr td:nth-child(5) > div > div {
    border: none !important;
    height: 5px !important;
    width: 32px !important;
    background-image: linear-gradient(to right, black 50%, white 50%);
    background-position: center;
    background-size: 16px 4px;
    background-repeat: repeat-x;
}
.line-chart .legend tr td:first-child > div > div {
    border: 2px solid rgb(68,114,196) !important;
    width: 16px !important;
    height: 0 !important;
    background-color: rgb(68,114,196);
}
.line-chart .legend tr td:nth-child(3) > div > div {
    border: none !important;
    height: 5px !important;
    width: 32px !important;
    background-image: linear-gradient(to right, black 50%, white 50%);
    background-position: center;
    background-size: 16px 4px;
    background-repeat: repeat-x;
}