.ui-datepicker {
    width: 20em;
}
/*WARNING: having multiple date pickers will be a problem if some need calendar.  However, alternatives don't work on double-click'*/
/*NOTE: monthpicker does not honor text changed by users in input box while picker dialog is open*/
.ui-datepicker-calendar {
    display: none;
}

.print h3 {
    text-align: center;
}
.print #bar-chart-data-table,
.print #fsd-table,
.print #overall-table,
.print table.downtime-data {
    margin: 0.1em auto 0 auto;
}
.table-footnotes {
    font-size: 10px;
}
.print .table-footnotes {
    text-align: center;
}
.float-breadbox {
    top: 8px;
}
.print .float-breadbox {
    display: none;
}
.data-table {
    margin-top: 0.1em;
    margin-bottom: 0;
}
h3 {
    margin-bottom: 0;
}
.two-column-table {
    width: 100%;
}
.two-column-table > tbody > tr > td {
    vertical-align: top;
}
.left-cell {
    padding-right: 1em;
}
.print:not(.fullscreen) .two-column-table {
    width: 960px !important;
    margin: 0 auto;
}
.print:not(.fullscreen) section {
    margin: 0;
}
.print:not(.fullscreen) h3 {
    font-size: 14px !important;
}
.print:not(.fullscreen) thead th {
    font-size: 12px !important;
}
.print:not(.fullscreen) tbody td {
    font-size: 12px !important;
}


.print a {
    color: #1049ad;
}
.print thead th {
    background-color: #1049ad;
    border: 1px solid white;
    color: white;
}
.print thead th:first-child {
    border-left: 1px solid #1049ad;
}
.print thead th:last-child {
    border-right: 1px solid #1049ad;
}
.print thead tr {
    border-right: 1px solid #1049ad;
}
.print thead tr:first-child th {
    border-top: 1px solid #1049ad;
}
.print #page-header-title {
    color: #1049ad;
}
.trend-same,
.trend-up,
.trend-down {
    display: inline-block;
    width: 0.7em;
}
.trend-up {
    color: green;
}
.trend-down {
    color: red;
}
tbody td.availability {
    white-space: nowrap;
}
#graph-data-table tbody tr td:nth-child(3) {
    text-align: right;
}
.chart-legend tbody td:nth-child(2) {
    text-align: left;
    white-space: nowrap;
}
.print .chart-legend {
    margin-top: 11px;
}
.print .has-y-axis-label {
    margin-left: 3em;
}
.print .has-x-axis-label {
    margin-bottom: 3em;
}
#second-page {
    page-break-inside: avoid;
    page-break-before: always;
}
.print #graph-data-table {
    margin-left: auto;
    margin-right: auto;
}
.chart-footnote ul {
    list-style-type: none;
}
#notes-input,
.goal-input {
    display: none;
}
#notes-input textarea {
    width: 500px;
    height: 200px;
}
.print #notes-output {
    text-align: center;
}
#save-button,
#cancel-button {
    display: none;
    vertical-align: top;
}
#secondary-page-actions {
    text-align: right;
}
.goal-input input {
    width: 50px;
}
#bar-chart-data-table tfoot,
#bar-chart-data-table tfoot tr,
#bar-chart-data-table tfoot td {
    border-top: 4px solid black;
}

.category-subcell {
    position: absolute;
    font-size: 0.8em;
    color: #595959;
    bottom: 26px;
}
body:not(.print) td.problem-td {
    padding-bottom: 3.5em;
}
.print .category-subcell {
    bottom: 8px;
    right: 0.5em;
}

body:not(.print) .two-column-table {
    font-size: 12px;
}

/*.data-table tbody tr .less-than-goal {
    background-color: #ffffaa;
}
.stripped-table tbody tr:nth-child(2n) .less-than-goal {
    background-color: #ffffcc;    
}*/

#notes-output span {
    white-space: pre;
}