.still-open-asterisk,
.event-header-reviewed {
    display: none;
}
/*Fork Option Pair*/
.right-fork-option {
    padding-right: 0.25em;
}
.fork-option-pair {
    box-shadow: 6px 8px 4px -4px #979797;
    display: inline-block;
    font-size: 0;
    left: -26px;
    letter-spacing: 0;
    list-style: none outside none;
    margin: 1em 0;
    padding: 0;
    position: relative;
    top: 16px;
    word-spacing: 0;
}
.fork-option-pair > li {
    background-color: white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    display: inline-block;
    font-size: 16px;
    height: 30px;
    letter-spacing: normal;
    line-height: 30px;
    margin: 0;
    padding: 0 0.5em;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    word-spacing: normal;
}
.fork-option-pair > li:first-child {
    border-left: 1px solid black;
    padding: 0 0.25em 0 0.5em;
}
.fork-option-pair > li:last-child {
    background-color: inherit;
}
.fork-option-pair > li:last-child:after {
    bottom: 0;
    box-shadow: 0 8px 4px -4px #979797;
    content: " ";
    height: 16px;
    position: absolute;
    right: -14px;
    top: 12px;
    transform: rotate(-45deg);
    width: 28px;
    z-index: 0;
}
.fork-option-pair > li .left-fork-option:after {
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    border-top: 15px solid transparent;
    bottom: 0;
    content: " ";
    display: block;
    height: 0;
    position: absolute;
    right: -15px;
    top: 0;
    width: 0;
    z-index: 2;
}
.fork-option-pair > li .left-fork-option:before {
    border-bottom: 15px solid transparent;
    border-left: 15px solid black;
    border-top: 15px solid transparent;
    bottom: 0;
    content: " ";
    display: block;
    height: 0;
    position: absolute;
    right: -16px;
    top: 0;
    width: 0;
    z-index: 1;
}
.fork-option-pair > li .right-fork-option:after {
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    border-top: 15px solid transparent;
    bottom: 0;
    content: " ";
    display: block;
    height: 0;
    left: -15px;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 2;
}
.fork-option-pair > li .right-fork-option:before {
    border-bottom: 15px solid transparent;
    border-right: 15px solid black;
    border-top: 15px solid transparent;
    bottom: 0;
    content: " ";
    display: block;
    height: 0;
    left: -16px;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 1;
}
.fork-option-pair:after {
    bottom: 0;
    box-shadow: 0 8px 4px -4px #979797;
    content: " ";
    height: 30px;
    left: 0;
    position: absolute;
    width: 15px;
}
.quick-nav {
    float: right;
    top: -5px;
}