.flyout-panel {
    border: 1px solid black;
    width: 500px;
    height: 250px;
    position: absolute;
    right: -548px;
    top: -155px;
    z-index: 2;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0.5em 0.5em 0.5em #979797;
    padding: 16px;
    font-size: 16px;

    text-align: left;
}
#flyouts {
    display: none;
}

.definition-flyout-handle {
    position: relative;
}
.flyout-panel:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid white;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    left: -20px;
}
.flyout-panel:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 21px solid transparent;
    border-bottom: 21px solid transparent;
    border-right: 21px solid black;
    top: 50%;
    margin-top: -21px;
    position: absolute;
    left: -21px;
}
.close-bubble {
    float: right;
    min-width: inherit;
}
.flyout-panel .key-value-list {
    clear: both;
    margin-top: 3em;
}
.definition-bubble-title {
    margin-bottom: 1em;
}
.definition-bubble-body {
    font-weight: normal;
    height: 200px;
    overflow: auto;
}
.fraction {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.numerator, .denominator {
    display: block;
}
.numerator {
    border-bottom: 1px solid black;
}


.fullscreen .summary-table {
    margin: 0 auto;
}
.summary-table {
    margin-top: 0;
}
.summary-table tbody th {
    text-align: right;
    background-color: white;
    border: none;
    border-bottom: 1px solid black;
}
.summary-table td {
    background-color: white;
    border: none;
    border-bottom: 1px solid black;
    text-align: right;
}
.major-row {
    /*box-shadow: 0 0 3px 2px #000000;*/
    font-weight: bold;
    border: 2px solid black;
}
caption {
    padding: 1em 0;
    font-style: italic;
}
.summary-table,
.summary-table thead,
.summary-table thead tr,
.summary-table thead th {
    border: 0px solid transparent;
    background-color: transparent;
}
.summary-table tr {
    border-left : 1px solid black;
    border-right: 1px solid black;
}
.summary-table tbody tr:first-child {
    border-top: 1px solid black;
}
.print #unofficial-footnote {
    text-align: center;
}
.fullscreen .flyout-panel {
    font-size: 16px;
}